<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<!-- Main Sidebar Container -->
<aside th:fragment="menu" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
        <img src="/plugins/adminLTE/img/AdminLTELogo.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img th:src="${#authentication.principal.avatar}" class="img-circle elevation-2" alt="头像"/>
            </div>
            <div class="info">
                <a href="#" class="d-block"><span sec:authentication="principal.nickname"></span></a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview" th:each="m1 : ${menu}">
                    <a href="#" class="nav-link">
                        <i th:if="!${#strings.isEmpty(m1.icon)}" th:class="${#strings.prepend(m1.icon,'nav-icon')}"></i>
                        <p>
                            <span th:text="${m1.name}"></span>
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item" th:each="m2 : ${m1.children}">
                            <a th:href="${m2.href}" class="nav-link" target="body-iframe">
                                <span style="padding-left: 20px">
                                <i th:if="!${#strings.isEmpty(m2.icon)}"
                                   th:class="${#strings.prepend(m2.icon,'nav-icon')}"></i>
                                    <p th:text="${m2.name}"></p>
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
</body>
</html>