<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/adminLTE/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- layui style -->
    <link rel="stylesheet" href="/plugins/layui/css/layui.css">
</head>
<body>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <ol class="breadcrumb float-sm-left">
                <li class="breadcrumb-item"><a href="#">主页</a></li>
                <li class="breadcrumb-item active">系统日志</li>
            </ol>
        </div>
    </div>
    <!--  /.container-fluid -->
</section>

<section class="content">
    <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">关键字</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input type="text" name="keyword" placeholder="关键字" autocomplete="off"
                           class="layui-input"/>
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="searchBtn">搜索</button>
            </div>
        </div>
    </form>
    <!-- /. search -->

    <table class="layui-hide" id="data-table"></table>

</section>

</body>

<!-- axios -->
<script src="/plugins/axios/axios.min.js"></script>
<!-- layui -->
<script src="/plugins/layui/layui.js"></script>

<script type="text/javascript" th:inline="none">
    layui.extend({
        fetch: '/plugins/layui-component/fetch' // axios 组件
    }).use(['form', 'table'], function () {
        let $ = layui.$,
            table = layui.table,
            form = layui.form,
            _csrf_header = $("meta[name='_csrf_header']").attr("content"),
            _csrf = $("meta[name='_csrf']").attr("content");

        //search form
        form.on('submit(searchBtn)', data => {
            let param = data.field;
            table.reload('data-table', {
                where: {param},
                page: {
                    curr: 1
                }
            });
            return false;
        });

        //Table
        table.render({
            id: 'data-table',
            elem: '#data-table',
            cols: [[
                {field: 'roleId', title: 'ID', width: 80, align: 'center'},
                {field: 'code', title: '编号', width: 150},
                {field: 'name', title: '名称', width: 150},
                {field: 'status', title: '状态', width: 150},
                {field: 'describe', title: '描述'},
                {field: 'gmtCreated', title: '创建时间', width: 150}
            ]],
            url: '/system/role/find/page',
            method: 'POST',
            contentType: 'application/json',
            headers: {[_csrf_header]: _csrf},
            where: {name: "jkeep"},
            request: {
                pageName: 'page', //页码的参数名称，默认：page
                limitName: 'size' //每页数据量的参数名，默认：limit
            },
            response: {
                statusName: 'code', //规定数据状态的字段名称，默认：code
                statusCode: "S0000", //规定成功的状态码，默认：0
                msgName: 'message', //规定状态信息的字段名称，默认：msg
                countName: 'total', //规定数据总数的字段名称，默认：count
                dataName: 'data' //规定数据列表的字段名称，默认：data
            },
            parseData: res => {
                return {
                    "code": res.code, //解析接口状态
                    "message": res.message, //解析提示文本
                    "total": res.result.total, //解析数据长度
                    "data": res.result.data //解析数据列表
                };
            },
            //,skin: 'line' //表格风格
            loading: true,
            page: true,
            limits: [30, 70, 100],
            limit: 30
        });

    });
</script>

</html>